@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300&display=swap");
.about-us-container {
  display: flex;
  height: 400px;
  align-items: center;
  padding: 0 150px;
  flex-direction: column;
  background-image: url(../images/about7.jpg);
  background-size: 100vw 550px;
  background-repeat: no-repeat;
}
.about-us-title {
  margin: 150px 100px 0 0;
  font-size: 65px;
  font-family: "Lato", sans-serif;
}
.about-us-header {
  margin: 50px 0 0 200px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
}
.about-us-our-story {
  font-size: 30px;
}
.about-us-main-content {
  margin: 0px 0 0 0;
  font-size: 20px;
  padding: 50px 150px;
  color: unset;
  text-align: left;
  display: flex;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-us-main-content-paragraph {
  margin: 20px 0 0 0;
}
.about-us-quote {
  padding: 50px;
  font-family: "PT Serif", serif;
  font-size: 20px;
  color: #545454;
  color: purple;
}
