.brands-header-container {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 0 150px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/Brands-background.jpg);
  background-size: cover;
  background-position-y: -150px;
}
.brands-header-title {
  color: white;
  font-size: 65px;
  font-family: "Lato", sans-serif;
  margin: 0 0 0 0;
}
.brands-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0 0 0;
  font-size: 20px;
  padding: 50px 150px;
}
.brands-container-title {
  font-size: 35px;
  margin: 0 0 50px 0;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #a26dad;
  text-align: center;
}
.brands-container-title-alt {
  color: #f79733;
}
.brands-image-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1366px) {
  .ARIES {
    margin: 40px 0 0 0;
  }
  .DGHAL {
    margin: 20px 0 0 0;
  }
  .WATAN {
    margin: 20px 0 0 0;
  }
  .CGC {
    margin: 50px 0 0 0;
  }
  .INVSELANG {
    margin: 50px 0 0 0;
  }
  .MBI {
    margin: 50px 0 0 0;
  }
}
@media only screen and (max-width: 479px) {
  .brands-header-container {
    height: 150px;
    padding: 30px 30px 0px 30px;
    text-align: center;
    background-repeat: no-repeat;
  }
  .brands-header-title {
    font-size: 32px;
  }
  .brands-main-content {
    padding: 50px 20px;
  }
  .brands-container-title {
    font-size: 25px;
  }
  .ANTAH{
    width: 175px;
    height: 80px;
  }
  .YYP {
    width: 100px;
    height: 100px;
  }
  .YYAF {
    width: 90px;
    height: 90px;
  }
  .UNI {
    width: 200px;
  }
  .UDAHB {
    height: 72px;
    width: 168px;
  }
  .SHL {
    width: 90px;
    height: 90px;
  }
  .MERTR {
    width: 150px;
    height: 75px;
  }
  .MAMSB {
    height: 90px;
    width: 80px;
  }
  .ASIAIR {
    width: 180px;
    height: 90px;
  }
  .DGHAL {
    width: 160px;
    height: 70px;
  }
  .SAPURA {
    width: 162px; 
  }
  .HEITECH {
    width: 75px;
    height: 75px;
  }
  .ARIES {
    width: 115px;
    height: 90px;
  }
  .DIMDATA {
    width: 180px;
    height: 120px;
  }
  .GREENACRES {
    width: 175px;
    height: 75px;
  }
  .WATAN {
    width: 290px;
    height: 110px;
  }
  .VTELE {
    width: 209px;
  }
  .JARING {
    width: 180px;
    height: 75px;
  }
  .SLMFN {
    margin: 30px 0 0 0;
    width: 320px;
    height: 90px;
  }
  .ISLIM {
    width: 180px;
  }
  .SPANCO {
    width: 240px;
    height: 66px;
  }
  .NEWPAR {
    width: 240px;
    height: 66px;
  }
  .MPOC {
    width: 120px;
  }
  .UEM {
    width: 144px;
    height: 80px;
  }
  .UEMSUNRISE{
    width: 155px;
  }
  .MATRADE {
    width: 125px;
    height: 63px;
  }
  .MEDPRI {
    width: 144px;
    height: 84px;
  }
  .MOE {
    width: 150px;
    height: 115px;
  }
  .SELANG {
    width: 150px;
    height: 180px;
  }
  .CGC {
    margin: 40px 0 0 0;
    width: 180px;
    height: 90px;
  }
  .INVSELANG {
    width: 176px;
    height: 72px;
  }
  .MBI {
    margin: 30px 50px 0 0;
    width: 220px;
    height: 120px;
  }
  .MTDC {
    width: 125px;
    height: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .brands-header-container {
    background-size: cover;
    background-repeat: repeat;
    background-position-y: 1px;
  }
}
@media only screen and (max-width: 375px) {
  .MATRADE {
    margin: 0 0 30px 0;
  }
  .SELANG {
    width: 130px;
    height: 150px;
  }
}
@media only screen and (max-width: 320px) {
}
.brands-main-content-alt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brands-main-content-alt img{
  margin: 30px 0;
}