.contact-header-container {
  margin: 110px 0 0 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-header-title {
  font-size: 30px;
  text-align: center;
  margin: 60px 20px 0 20px;
  color: #a26dad;
}
.contact-line {
  margin: 60px 0 0 0;
  width: 500px;
  height: 1px;
  background-color: #a26dad;
}
form {
  margin: 0;
}
.contact-main-content {
  padding: 50px 150px;
}
.contact-main-content-alt {
  display: flex;
  padding: 50px 330px 10px 330px;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact-information {
}
.contact-information-alt {
  margin: 0 0px 0 0;
}
.contact-information a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  cursor: pointer;
  text-decoration-line: underline;
}
.contact-information a:hover {
  color: #f79733;
}
.contact-information a:focus {
  outline: none;
  color: #f79733;
}
.contact-input-row-container {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}
.contact-input-row-flex-box {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.contact-input-row-flex-box-alt {
  margin: 0 0 0 20px;
}
.contact-label {
  margin: 0 0 10px 0;
}
.contact-input-box {
  border-radius: 4px;
  border: 1px solid #d2d3d5;
  outline: none;
  width: 350px;
  height: 35px;
}
.contact-input-box-long {
  width: 720px;
}
.contact-input-box-large {
  width: 720px;
}
.contact-input-box:focus {
  border: 2px solid #f79733;
}
.contact-input-row-flex-box textarea {
  resize: vertical;
  height: 300px;
}
.contact-submit-button {
  height: 35px;
  margin: 20px 0 0 0;
  border: 1px solid #d2d3d5;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 720px;
  background-color: white;
}
.contact-submit-button:hover,
.contact-submit-button:focus {
  background-color: #f79733;
  color: white;
  outline: none;
}

@media only screen and (max-width: 1920px) {
  .contact-main-content-alt {
    padding: 50px 595px 10px 595px;
  }
  .contact-line {
    width: 580px;
  }
}
@media only screen and (max-width: 1800px) {
  .contact-main-content-alt {
    padding: 50px 545px 10px 545px;
  }
  .contact-line {
    width: 480px;
  }
}
@media only screen and (max-width: 1600px) {
  .contact-main-content-alt {
    padding: 50px 445px 10px 445px;
  }
  .contact-line {
    width: 480px;
  }
}
@media only screen and (max-width: 1366px) {
  .contact-main-content-alt {
    padding: 50px 330px 10px 330px;
  }
  .contact-line {
    width: 440px;
  }
}
@media only screen and (max-width: 479px) {
  .contact-header-container {
    margin: 60px 0 0 0;
    padding: 0 20px;
  }
  .contact-line {
    width: 120px;
  }
  .contact-main-content-alt {
    padding: 30px 20px;
    flex-direction: column;
  }
  .contact-information {
    font-size: 18px;
    margin: 0 0 30px 0;
  }
  .contact-information {
    text-align: center;
  }
  .contact-main-content {
    padding: 30px 20px;
  }
  .contact-input-box {
    width: 190px;
  }
  .contact-input-box-long {
    width: 400px;
  }
  .contact-input-box-large {
    width: 400px;
  }
  .contact-submit-button {
    width: 400px;
  }
}
@media only screen and (max-width: 425px) {
  .contact-line {
    width: 90px;
  }
  .contact-input-box {
    width: 175px;
  }
  .contact-input-box-long {
    width: 370px;
  }
  .contact-input-box-large {
    width: 370px;
  }
  .contact-submit-button {
    width: 370px;
  }
}
@media only screen and (max-width: 375px) {
  .contact-line {
    width: 68px;
  }
  .contact-input-box {
    width: 150px;
  }
  .contact-input-box-long {
    width: 320px;
  }
  .contact-input-box-large {
    width: 320px;
  }
  .contact-submit-button {
    width: 320px;
  }
}
@media only screen and (max-width: 320px) {
  .contact-line {
    width: 41px;
  }
  .contact-input-box {
    width: 120px;
  }
  .contact-input-box-long {
    width: 260px;
  }
  .contact-input-box-large {
    width: 260px;
  }
  .contact-submit-button {
    width: 260px;
  }
}
