footer {
  background-color: #d2d3d5;
  height: 440px;
  padding: 100px 100px;
}

.footer-contents {
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-left {
  width: 320px;
}
.nexus-logo {
  height: 40px;
  margin: 0;
}
.nexus-logo-anchor:focus {
  outline: 2px solid white;
  transition: 0.5s;
  outline-offset: 1px;
}
.footer-left-link {
  text-decoration-line: none;
  color: white;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-left-link:focus {
  outline: 2px auto white;
  outline-offset: 5px;
}
.footer-left-link:hover {
  color: #a26dad;
  transition: 0.5s;
}
.footer-left-link-text {
  margin: 10px 0 0 20px;
  font-size: 22px;
}
.footer-center {
  width: 320px;
}
.footer-contact-info {
  color: white;
  margin: 0 0 50px 0;
  font-size: 20px;
}
.contact-phone {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #a26dad;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contact-email {
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #a26dad;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-right {
  width: 320px;
}
.footer-address {
  text-transform: uppercase;
  font-size: 20px;
  color: #a26dad;
  margin: 0 0 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-address-content {
  color: white;
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-address-body {
  color: white;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-address-body a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
  text-decoration: underline;
}
.footer-address-body a:focus {
  outline: none;
  color: #f79733;
}
.footer-address-body a:hover {
  color: #f79733;
}
.footer-contact-details {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-contact-details a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  text-decoration-line: underline;
}

.footer-contact-details a:hover {
  color: #f79733;
}

.footer-contact-details a:focus {
  color: #f79733;
  outline: none;
}
