header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0;
  background-color: #d2d3d5;
  height: 110px;
  padding: 10px 40px;
}
.navbar-contents {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-logo-container {
  width: 30vw;
  display: flex;
  align-items: center;
  text-decoration-line: none;
}
.nexus-unique-logo-left {
  width: 45px;
  height: 45px;
  background-color: #a26dad;
}
.nexus-unique-logo-center {
  width: 45px;
  height: 45px;
  background-color: #f79733;
}
.nexus-unique-logo-right {
  width: 45px;
  height: 45px;
  background-color: white;
}
.nexus-unique-logo-title {
  color: white;
  margin: 0 0 0 20px;
  font-size: 22px;
  text-transform: uppercase;
}
.navbar-contents-container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
  cursor: pointer;
}
.navbar-content-link {
  text-transform: uppercase;
  text-decoration-line: none;
  font-size: 17px;
  color: white;
}
