@import "./fonts.css";
header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0;
  height: 110px;
  padding: 10px 40px;
  transition: 0.5s;
}

.navbar-contents {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-logo-container {
  width: 30vw;
  display: flex;
  align-items: center;
  text-decoration-line: none;
}
.navbar-logo-container:focus {
  outline: none;
}
.navbar-logo-container:focus .nexus-unique-logo-title,
.navbar-logo-container:focus .nexus-unique-logo-title-active {
  color: #a26dad;
}
.nexus-unique-logo-left {
  width: 45px;
  height: 45px;
  background-color: #a26dad;
}
.nexus-unique-logo-center {
  width: 45px;
  height: 45px;
  background-color: #f79733;
}
.nexus-unique-logo-right {
  width: 45px;
  height: 45px;
  background-color: white;
}
.nexus-unique-logo-title,
.nexus-unique-logo-title-active {
  margin: 0 0 0 20px;
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  transition: 0.5s;
}
.nexus-unique-logo-title-active {
  color: white;
}

.nexus-unique-logo-title:hover,
.nexus-unique-logo-title-active:hover {
  color: #a26dad;
}

.navbar-contents-container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  align-items: center;
  cursor: pointer;
}
.navbar-content-link,
.navbar-content-link-active {
  text-transform: uppercase;
  text-decoration-line: none;
  font-size: 17px;
  height: 30px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar-content-link-active {
  color: white;
}

.navbar-content-link:hover,
.navbar-content-link-active:hover,
.navbar-content-link:focus,
.navbar-content-link-active:focus {
  color: #a26dad;
  text-decoration-line: none;
  border-bottom: 1px solid #a26dad;
  transition: 0.5s;
}
.navbar-content-link:focus,
.navbar-content-link-active:focus {
  outline: none;
}
