.our-services-container {
  height: 400px;
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/Services_3.jpg);
  background-position-y: -250px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.our-services-title {
  font-size: 65px;
  font-family: "Lato", sans-serif;
  color: white;
}
.our-services-header-container {
  display: flex;
}
.our-services-line {
  width: 398px;
  height: 1px;
  background-color: #a26dad;
  margin: 20px 0 0 0;
}

.our-services-header {
  font-size: 30px;
  text-align: center;
  margin: 0 20px 0 20px;
  color: #a26dad;
}
.our-services-main-content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 50px 150px;
  text-align: left;
  display: flex;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.our-services-main-content-paragraph {
  margin: 40px 0 0 0;
}
.our-services-services-container {
  background-color: rgb(210, 211, 213);
  margin: 50px 0 200px 145px;
  width: 800px;
  height: 600px;
  position: relative;
}
.our-services-services-container-alt {
  margin: 50px 0 200px 395px;
  position: relative;
}
.our-services-services-container-alt-2 {
  margin: 50px 0 350px 145px;
}
.our-services-paragraph-container {
  position: absolute;
  background-color: #a26dad;
  padding: 50px;
  width: 550px;
  margin: 250px 145px 0 500px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.our-services-paragraph-container-alt {
  margin: 380px 0 0 -235px;
  background-color: #f79733;
}
.our-services-paragraph-container-alt-2 {
  margin-top: 350px;
}
.our-services-title-container {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.our-services-paragraph {
  margin: 20px 0 0 0;
  color: white;
  font-size: 20px;
}
@media only screen and (max-width: 1920px) {
  .our-services-services-container {
    margin: 50px 0 200px 445px;
  }
  .our-services-services-container-alt {
    margin: 50px 0 200px 695px;
  }
  .our-services-services-container-alt-2 {
    margin: 50px 0 350px 445px;
  }
}
@media only screen and (max-width: 1800px) {
  .our-services-services-container {
    margin: 50px 0 200px 325px;
  }
  .our-services-services-container-alt {
    margin: 50px 0 200px 575px;
  }
  .our-services-services-container-alt-2 {
    margin: 50px 0 350px 325px;
  }
}
@media only screen and (max-width: 1600px) {
  .our-services-services-container {
    margin: 50px 0 200px 225px;
  }
  .our-services-services-container-alt {
    margin: 50px 0 200px 475px;
  }
  .our-services-services-container-alt-2 {
    margin: 50px 0 350px 225px;
  }
}
@media only screen and (max-width: 1366px) {
  .our-services-services-container {
    margin: 50px 0 200px 145px;
  }
  .our-services-services-container-alt {
    margin: 50px 0 200px 395px;
  }
  .our-services-services-container-alt-2 {
    margin: 50px 0 350px 145px;
  }
}
@media only screen and (max-width: 479px) {
  .our-services-container {
    height: 150px;
    padding: 30px 30px 0px 30px;
    background-position-y: 0px;
  }
  .our-services-title {
    font-size: 32px;
  }
  .our-services-services-container {
    margin: 30px 20px 100px 20px;
    width: auto;
    height: 200px;
  }
  .our-services-services-container-medium {
    margin-bottom: 300px;
  }
  .our-services-services-container-long {
    margin-bottom: 350px;
  }
  .our-services-paragraph-container {
    padding: 30px 20px;
    width: auto;
    margin: 0px;
    top: 0px;
  }
  .our-services-title-container {
    font-size: 32px;
  }
  .our-services-paragraph {
    font-size: 18px;
  }
}
@media only screen and (max-width: 425px) {
  .our-services-services-container-medium {
    margin-bottom: 280px;
  }
}
@media only screen and (max-width: 375px) {
  .our-services-services-container {
    margin-bottom: 150px;
  }
  .our-services-services-container-medium {
    margin-bottom: 340px;
  }
  .our-services-services-container-long {
    margin-bottom: 450px;
  }
}
@media only screen and (max-width: 320px) {
  .our-services-services-container {
    margin-bottom: 190px;
  }
  .our-services-services-container-medium {
    margin-bottom: 480px;
  }
  .our-services-services-container-long {
    margin-bottom: 530px;
  }
  .our-services-title-container {
    line-height: 100%;
  }
}
